.pagination a:hover:not(.active){
    background:;
}

.pagination a{
    color:black;
    float: left;
    padding:8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

}

.body {
    margin = 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nav a{
  background-color: #f39c12;
  overflow: hidden;
  text-shadow: rgba();
  font-weight: 20px;
}


h1{
    color: green;
    text-shadow: rgba();
}


h4{
    color: red;
}
.navbar {
    overflow: hidden;
    background-color: red;
    font-family: Helvetica;

}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

