 {% extends "base.html" %}

  {% load static %}

  {% block head_title %}List | {{ block.super }}{% endblock head_title %}

  {% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>


  {% for index in index %}
  <p>Heading: {{ index.heading}}</p>
  <p>Sub Heading: {{ index.heading}}</p>

  <h1>{{ object.headline }}</h1>
  <p>{{ object.content }}</p>
  <p>Reporter: {{ object.reporter }}</p>
  <p>Published: {{ object.pub_date|date }}</p>
  <p>Date: {{ now|date }}</p>
